<div class="text-center">
    <h3>Name</h3>
    <input type="text" class="centered-input form-control" ng-model="member.name">
    <h3>Blazer ID</h3>
    <input type="text" class="centered-input form-control" ng-model="member.blazerid">
    <h3>Email</h3>
    <input type="text" class="centered-input form-control" ng-model="member.email">
    <h3>Renewal Time</h3>
    <input type="text" class="centered-input form-control" ng-model="member.renewal">
    <h3>Join Date</h3>
    <input type="text" class="centered-input form-control" ng-model="member.join">
    <br>
    <button class="btn btn-success" ng-click="addMember()">Add Member</button>
</div>