<div id="loginContainer" class="form-group has-feedback" style="text-align : center">
    <br>
    <img src="http://acm.cis.uab.edu/media/2013/12/blaze_acm-300x300.jpg"/>
    <h3>What's the password?</h3>
    <label class="control-label" for="password" ng-show="error">{{error}}</label>
    <input type="password" class="member-attr form-control" id="password" style="max-width: 500px; width: 50%; margin: auto;">
    <br>
    <button class="btn btn-primary btn-lg" ng-click="login()">Login</button>
</div>