<input ng-model="searchText" class="navbar search-bar" placeholder="Search by name or blazer id"></input>


<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12"  ng-repeat="member in members | filter:searchText | orderBy:'name'">
        <a href='#members/{{member.blazerid}}' class="thumbnail">
            {{member.name}}
            <img gravatar-src="'{{member.email}}'" class="img-responsive">
            {{member.blazerid}}
        </a>
    </div>
  </div>
</div>